html {
	font-family: Helvetica;
	font-style: sans-serif;
	text-align: center;
	
}
ul {
	list-style: none;
}
header {
	background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
	color: white;
	font-weight: bold;

}
h1 {
	font-size: 70px;
	
}
header a {
	font-size: 18px;
}

a {
	color: white;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px
}

.border {
	color: white;
	background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

footer p {
	font-size: 11px;
	text-align: left;
	color: white;
	background: dimgrey;

}